/*--------------------------------------------------------*
 *    Globale                                             *
 *--------------------------------------------------------*/

:Root {
	--WindowPadding: 4px;
	--WindowBorderSize: 4px;

	--TitleBarHeight: 28px;
	--TitleBarForeground: #FFFFFF;
	--TitleBarBackground: #2A0A3A;

	--TaskBarForeground: #FFFFFF;
	--TaskBarBackground: #2A0A3A;
	--TaskBarHeight: 36px;
}

* {
    Box-Sizing: Border-Box;
}

Body {
	Margin: 0;
	Padding: 0;
	Overflow-Y: Hidden;
	Background-Image: url(/home/octt/Dev/sitoctt-assets/public/Media/Backgrounds/Circles-Purple.png);
	Background-Repeat: Repeat;
}

/*--------------------------------------------------------*/



/*--------------------------------------------------------*
 *    Window Manager                                      *
 *--------------------------------------------------------*/

.Window {
	Margin: Var(--WindowPadding);
	Border: Solid Var(--WindowBorderSize) Var(--TitleBarBackground);
	Color: #000000;
	Background: #EEE0FF;
}
.WindowContent {
	Min-Width: Calc(100% + Var(--WindowPadding) + Var(--WindowPadding) + Var(--WindowBorderSize) + Var(--WindowBorderSize));
	Padding: Var(--WindowPadding);
	Overflow-Y: Auto;
	Margin-Left: Calc(0px - Var(--WindowPadding) - Var(--WindowBorderSize));
	Margin-Top: Var(--WindowBorderSize);
	Color: #000000;
	Background: #EEE0FF;
	Border: Solid Var(--WindowBorderSize) Var(--TitleBarBackground);
}
.Window:Hover {
	Z-Index: 128 !Important;
}

.TitleBar {
	Padding: Var(--WindowPadding);
	Color: Var(--TitleBarForeground);
	Background: Var(--TitleBarBackground);
	Text-Align: Center;
	Vertical-Align: Top;
	Max-Height: Var(--TitleBarHeight);
}
.TitleBar > span:nth-child(1) {
	Float: Left;
}
.TitleBar > span:nth-child(4) {
	Float: Right;
}

.TaskBar {
	Width: 100%;
	Color: Var(--TaskBarForeground);
	Background: Var(--TaskBarBackground);
	Position: Fixed;
	Bottom: 0px;
	Padding: Var(--WindowPadding);
	Min-Height: Var(--TaskBarHeight);
	Max-Height: Var(--TaskBarHeight);
	Z-Index: 256;
}
.TaskBar > Details > Div {
	Position: Fixed;
	Left: 0px;
	Bottom: Var(--TaskBarHeight);
	Padding: Var(--WindowPadding);
	Color: Var(--TaskBarForeground);
	Background: Var(--TaskBarBackground);
}
.MenuButton {
	Display: Inline-Block;
	Height: 100%;
}

/*--------------------------------------------------------*/



/*--------------------------------------------------------*
 *    Fritto Misto - Andrebbe ordinato                    *
 *--------------------------------------------------------*/

.CheckLabel:Before {
	Content: '🔼';
}
#MainWindowCheck {
	Position: Fixed;
	Opacity: 0;
}

:Checked ~ Span > .CheckLabel:Before {
	Content: '🔽' !Important;
}
:Checked ~ .ToggleBox {
	Display: None;
	Visibility: Hidden;
}

/* No selezione */
.NoSelect,
.TitleBar,
.TaskBar,
#TitlesWindow {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	User-Select: none;
}

#MainWindow {
	Max-Width: 80vw;
	Position: Absolute;
	Top: 12px;
	Right: 12px;
	Max-Height: 90vh;
	Z-Index: 16;
}
#MainWindow > .WindowContent {
	Max-Height: Calc(90vh - Calc(Var(--TitleBarHeight) * 2) - Var(--WindowPadding));
}

#TitlesWindow {
	Max-Width: 60vw;
	Position: Absolute;
	Top: 80px;
	Left: 12px;
	Max-Height: 60vh;
	Z-Index: 8;
}
#TitlesWindow > .WindowContent {
	Max-Height: Calc(60vh - Calc(Var(--TitleBarHeight) * 2) - Var(--WindowPadding));
}

/*--------------------------------------------------------*/
