body {
	height: 100%;
	width: calc(100% - 32px);
	margin: 16px;
}

/* Blog title and description */
#blog-title a, header .description, #BuildTimeLine { 
	color: #FFFFFF !important;
}

article {
	max-width: 50em !important;
}
.e-content, .e-content * {
	margin: auto !important;
	white-space: normal !important;
}
.e-content p, .e-content ul, .e-content ol {
	display: block !important;
	padding-top: 8px;
	padding-bottom: 8px;
}
.e-content h1, .e-content h2, .e-content h3, .e-content h4, .e-content h5, .e-content h6 {
	display: block !important;
	padding-top: 16px;
	padding-bottom: 8px;
}

/* Site header */
header nav {
	transition: 0.4s;
	opacity: 40%;
}
header, header nav:hover {
	transition: 0.4s;
	opacity: 100% !important;
}
header nav span {
	white-space: nowrap;
}
header nav p, header nav a {
	color: #FFFFFF !important;
}

/* Article container */
article {
	padding: 0px;
	border: double #C0C0C0 3px;
	background: #C0C0C0;
}

/* Article title */
article #title, section article .post-title {
	margin: 0px !important;
	padding: 8px 8px 4px 8px;
	background: linear-gradient(90deg,#e564c9,#59a2ef);
	color: #FFFFFF;
	border: solid #808080 1px;
}
article #title img {
	padding-right: 4px;
}
article #title span, article #title img {
	vertical-align: top;
}

#ContentInfo {
    color: #000000;
	display: block;
	width: Calc(100% - 6px);
	background: #C0C0C0;
	border: solid 1px;
	border-color: #808080 #FFFFFF #FFFFFF #808080;
	margin: 2px 0px 0px 0px;
	padding: 2px;
}

/* Article content */
article .e-content {
	padding: 16px 12px 16px 12px;
	border: solid #808080 1px;
	background: #F0F0F0;
}

#blog-title, #BuildTimeLine , header nav {
	Font-Family: "Liberation Mono", "Droid Sans Mono", Consolas, Courier, monospace, monospace;
}

#BuildTimeLine > Span {
	Display: Inline-Block;
}

.staticoso-SectionTitle:Target {
	Text-Decoration: Underline;
}
.staticoso-SectionLink {
	Opacity: 0.1;
}
.staticoso-SectionLink:Hover {
	Opacity: 0.8;
}
.staticoso-SectionLink > A::Before {
	Content: '🔗';
}
.staticoso-SectionLink > A > Span {
	Font-Size: 0;
}
