/build/
/resources/
/public/
/public.Content/
/public.gmi/*
/public.Plain/*
/Scripts/.bak/*
#/Scripts/package.json
#/Scripts/package-lock.json
/Scripts/node_modules/*
/Scripts.out/*
*.pyc
*.tmp
tmp.*
.env
.hugo_build.lock
