/build/
/dist/
/resources/
/public/
/public.gmi/*
/Scripts/.bak/*
#/Scripts/package.json
#/Scripts/package-lock.json
/Scripts/node_modules/*
/Scripts.out/*
/Scripts/Lib/translate-shell.bash
*.pyc
*.tmp
tmp.*
.env
.hugo_build.lock
