#RingsDiv Img,
.CCIcons > Img, .CCIcon {
	Display: Inline !Important;
	Max-Height: 1em !Important;
	Vertical-Align: Sub;
}
.CCIcons > Img, .CCIcon {
	Margin-Left: 3px;
}

.BlinkA {
	Animation: BlinkerA 0.25s Step-Start Infinite;
}
@keyframes BlinkerA {
	0% {Position: Absolute; Visibility: Hidden;}
	50% {Position: Static; Visibility: Visible;}
	100% {Position: Absolute; Visibility: Hidden;}
}
.BlinkO {
	Animation: BlinkerO 0.25s Step-Start Infinite;
}
@keyframes BlinkerO {
	0% {Position: Static; Visibility: Visible;}
	50% {Position: Absolute; Visibility: Hidden;}
	100% {Position: Static; Visibility: Visible;}
}

/*!--   Credits: https://codepen.io/jh3y/pen/WNrXqYz   ---*/
.WavyText {
	Text-Align: Center;
	Position: Absolute;
	Left: 50%;
	White-Space: NoWrap;
	Transform: Translate(-50%, -50%) Translate(Calc(Var(--x, 0) * 1%), Calc(Var(--y, 0) * 1%));
	font-variation-settings: 'wght' Var(--lower);
	Margin: 0;
}
.WavyText Span {
	Color: HSLA(300, 100%, 20%, Var(--alpha-l));
	Animation: Rise 2.25s infinite ease-in-out;
	Animation-Delay: Calc((Var(--index) - 6) * 0.225s);
	Display: Inline-Block;
}
@keyframes Rise {
	50% {
		font-variation-settings: 'wght' Var(--upper);
		Color: HSLA(300, 100%, 30%, Var(--alpha-u));
		Transform: Translate(0, -15%);
	}
}
/*!--   --------------------------------------------   ---*/
