// Title: ♻️ Ecologia
// HTMLTitle: <span class="twa twa-recycling-symbol"><span>♻️</span></span> Ecologia
// Order: 65

h1 <span class="twa twa-recycling-symbol"><span>♻️</span></span> Ecologia

div
	span [HTML:Category:Ecologia]
