:root {
	--ScreenBorderPadding: 4px;
	--ContentPadding: 8px;
}
Body {
	Margin: 0;
	Box-Sizing: Border-Box;
	Width: 100%;
	Max-Width: 100%;
	Position: Absolute;
	Left: Auto;
	Right: Auto;
	Color: #04040c;
	Background: #eeddff;
	Font-Size: 13pt;
}
#Container {
	Box-Sizing: Border-Box;
}

* {
	Box-Sizing: Border-Box;
}
a {
	Color: #d000d0;
}
ul {
	padding-left: 20px;
}

#LeftBox, #RightBox {
	Background: #300030;
	Color: #fafaf0;
}
#LeftBox a, #RightBox a, #BottomBox a {
	Color: #eeddff;
}
#TopBox {
	Padding: var(--ContentPadding);
}
#LeftBox, #LeftBoxContainer {
	Float: Left;
	Padding: var(--ContentPadding);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#RightBox, #RightBoxContainer {
	Float: Right;
	Padding: var(--ContentPadding);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#MainBox {
	Margin: Auto;
	Position: Absolute;
	Z-Index: -1;
	Left: 0;
	Right: 0;
	Width: 80%;
	Padding-Bottom: calc(var(--ContentPadding) + 80px);
}
#BottomBox {
	Box-Sizing: Border-Box;
	Color: #fafaf0;
	Background: rgba(64, 0, 64, 0.6);
	Position: Fixed;
	Bottom: 0;
	Left: 0;
	Right: 0;
	Padding: var(--ScreenBorderPadding);
	Width: 100%;
	Text-Align: Right;
}

#LeftBoxCheck, #LeftBoxLabel {
	Float: Left;
	Left: 0;
	Margin: var(--ScreenBorderPadding);
}
#RightBoxCheck, #RightBoxLabel {
	Float: Right;
	Right: 0;
	Margin: var(--ScreenBorderPadding);
}
#LeftBoxCheck, #RightBoxCheck {
	Position: Fixed;
	Opacity: 0;
}
:Checked ~ .ToggleBox {
	Display: None;
	Visibility: Hidden;
}

.NoDisplay {
	Display: None;
}
.BlinkA {
	Animation: BlinkerA 0.25s Step-Start Infinite;
}
@keyframes BlinkerA {
	0% {Position: Absolute; Visibility: Hidden;}
	50% {Position: Static; Visibility: Visible;}
	100% {Position: Absolute; Visibility: Hidden;}
}
.BlinkO {
	Animation: BlinkerO 0.25s Step-Start Infinite;
}
@keyframes BlinkerO {
	0% {Position: Static; Visibility: Visible;}
	50% {Position: Absolute; Visibility: Hidden;}
	100% {Position: Static; Visibility: Visible;}
}

.MainIdTextGradientL {
	Background: linear-gradient(to left, #d000d0, #8040d0);
	Color: Transparent;
	-webkit-background-clip: Text;
	Background-Clip: Text;
}
.MainIdTextGradientR {
	Background: linear-gradient(to right, #d000d0, #8040d0);
	Color: Transparent;
	-webkit-background-clip: Text;
	Background-Clip: Text;
}

/* Credits: https://codepen.io/jh3y/pen/WNrXqYz */
.WavyText {
	Text-Align: center;
	Position: absolute;
	Left: 50%;
	White-Space: nowrap;
	Transform: translate(-50%, -50%) translate(calc(var(--x, 0) * 1%), calc(var(--y, 0) * 1%));
	font-variation-settings: 'wght' var(--lower);
	Margin: 0;
}
.WavyText Span {
	Color: hsla(300, 100%, 20%, var(--alpha-l));
	Animation: Rise 2.25s infinite ease-in-out;
	Animation-Delay: calc((var(--index) - 6) * 0.225s);
	Display: inline-block;
}
@keyframes Rise {
	50% {
		font-variation-settings: 'wght' var(--upper);
		Color: hsla(300, 100%, 30%, var(--alpha-u));
		Transform: translate(0, -15%);
	}
}

