{{ $size := (or .size "88x31") }}
{{ $sizes := (split $size "x") }}
{{ $alt := (or (and .alt (printf "[%s]" .alt)) "") }}
{{ $img := (printf `<img src="%s" alt="%s" title="%s" width="%spx" height="%spx" />`
  (or .src (printf `%s/Media/Buttons/%s/%s`
    (partial "assetsRoot.html")
    $size
    .srcRelative))
  $alt $alt
  (index $sizes 0) (index $sizes 1)
) | safeHTML }}
{{ if .href }}
  <!-- {{ if not .target }}
    {{ .Scratch.Set "target" "_blank" }}
  {{ end }} -->
  {{ partial "anchor.html" (dict
    "Inner" $img
    "Params" .) }}
{{ else }}
  {{ $img }}
{{ end }}
