// Categories: MicroBlog

h2 Archivi MicroBlog di Settembre 2019

div.BorderBoxContainer
	details
		summary [2019-09-16 18:14] L'inizio di OctoVoLTE
		p
		cite
			| : Allora su questo canale ci saranno cose del lagsung
			br
			| : E memewei ma forse anche xiaomeme
			br
			| : Ah e ovviamente metodi per avere 🅱olte sul telefono
		p Da questi messaggi ebbe ufficialmente inizio la storia di OctoVoLTE. Di Memewei se n'è parlato lì in questi anni, forse anche troppo; Di metodi per avere VoLTE, non se n'è avuto nemmeno uno, tipo. Sad.
