// Title: ✉️ PicoBlog
// HTMLTitle: <span class="twa twa-envelope"><span>✉️</span></span> PicoBlog
// Order: 40

h1 Il mio PicoBlog

p Stai avventurandoti in una sezione forse effimera del sitocto, ma che comunque, se esiste, vuol dire che ho pensato che ci debba stare lo stesso.

h2 Un po' di contesto

p Seguendo l'idea che ho visto su (pochi) altri siti web personali in giro per la rete, dedico questa zona a pagina singola per tenere un cosidetto picoblog.

p
	| Nella pratica, si tratta di un flusso di pensieri corti e fini a loro stessi: spesso, un intero articolo di picoblog è composto da una sola frase.
	br
	| Per questo fondamentale particolare, differisce non solo dai blog tradizionali, dove un articolo è spesso formato da tanti paragrafi, ma anche dagli oggi più popolari microblog (alla #[span(style='Color:#3088d4;') Mastodon]), dove un articolo è al massimo un paragrafo.

p
	| L'idea mia è quella di creare un flusso aggiornato più o meno spesso di frasi che boh, mi vengono in mente e voglio scrivere.
	br
	| Chissà se navigare questa pagina ti aiuterà a conoscermi meglio, ho paura di no. In verità direi, se del mio normale blog ti fidi 5, di quello che trovi qui devi fidarti -20. Non prendere troppo seriamente ciò che scrivo qui.
	br
	| Tieni a mente che le pubblicazioni più recenti vanno sempre in cima, facendo scendere in basso le precedenti. Inoltre, ogni articolo è collassato di base per questioni di ordine, ti basta cliccare sul titolo per espanderne uno.

h2 Leggi il PicoBlog

details(open)
	summary Lista dei post
	div
		details
			summary [2022-07-03] Ma i commenti?
			p Eh eh, ops. La #[a(href='https://gitlab.com/octtspacc/PlainDiscuss' target='_blank' rel='noopener') repo] non ha nuovi commit da settimane, morta. Che palle. Però, con l'integrazione ActivityPub che il sito ora ha da 2 giorni, c'è già una sorta di sistema di commenti per ogni singolo post del blogocto.. quindi il mio lavoro è finito?

		details
			summary [2022-07-01] L'octocapsula!
			p E da oggi anche l'octocapsula, ossia la mia capsula Gemini, esiste sull'Internette. Per ora, lì ci trovate soltanto una conversione 1:1 del sitoctt, ma, se volete sapere oltre, vi rimando come al solito a #[a(href='./index.html#-Disponibilit-del-sito') Home#-Disponibilit-del-sito].

		details
			summary [2022-06-30] Più di un generatore
			p Ormai, questo è ciò che staticoso sta diventando, contrariamente alle mie stesse aspettative. Giusto adesso ho iniziato ad implementare 2 cose stravaganti: generazione di Gemtext (aspettatevi il sitoctt su Gemini..), e pubblicazione dei nuovi post su ActivityPub (Mastodon).

		details
			summary [2022-06-29] Minare domini Tor
			p È esattamente quello che ho fatto! In che senso? È banalmente ciò che si fa con un programma come #[a(href='https://github.com/cathugger/mkp224o' target='_blank' rel='noopener') mkp224o], se si vuole ottenere un indirizzo contenente caratteri particolari. Il nuovo indirizzo, che inizia (questa la particolarità) con "#[span(style='Color:#59316b;') sitoctt]", è linkato su #[a(href='./index.html#-Disponibilit-del-sito') Home#-Disponibilit-del-sito].

		details
			summary [2022-06-27] Qui sempre novità
			p Ora ho una pagina "#[a(href='./Raccolte/Internet/Raccolta-Siti-Internet.html') Raccolta Siti Internet]" dove linko ad altri siti carini, ho creato un PNG 88x31 che identifica il mio sito e che, chiunque vuole, può usare per linkarlo.. beh dai, pian piano si sta riempiendo anche meglio di un semplice blog :D

		details
			summary [2022-06-26] Ancora un'altra piattaforma ActivityPub
			p Eh già, ce n'è già una nuova in beta da praticamente ieri. Che il suo archetipo sia Mastodon, lo si vede subito, ma #[a(href='https://bonfirenetworks.org' target='_blank' rel='noopener') Bonfire] promette una filosofia diversa (?) e.. agli sviluppatori frega qualcosa del miglioramento progressivo, e gran parte della app già funziona senza JS! Già questo è abbastanza per farmi gioire.

		details
			summary [2022-06-24] Feed Atom/RSS
			p Finalmente staticoso integra la generazione di feed Atom/RSS! Se funziona tutto, scriverò le informazioni su #[a(href='./index.html#-Feed-e-notifiche') Home#-Feed-e-notifiche], ma i metadati sono già presenti nell'HTML, quindi usando un browser che ancora integra un aggregatore di feed, come SeaMonkey, dovrebbe apparire un'icona per iscriversi. 

		details
			summary [2022-06-22] L'esagerazione
			p Mi è venuta voglia di esagerare e implementare un contatore delle visite sul sito. Per fortuna, ho trovato il servizio gratuito già pronto di #[a(href='https://contatoreaccessi.com' target='_blank' rel='noopener') contatoreaccessi.com], che funziona caricando assolutamente #[b zero JavaScript], anche se conta anche i refresh, non le visite uniche.. vabbe.

		details
			summary [2022-06-21] Aggiornamenti tecnici
			p Tra ieri e stamattina ho lavorato abbastanza al generatore, per sistemare problemini e aggiungere funzioni, e ho aggiunto qualche miglioramento al CSS del sito. Comunque questo PicoBlog è ormai solo un devlog, un po' un peccato, ma non so cos'altro scrivere di molto corto.. 😅

		details
			summary [2022-06-20] Dominio epico
			p Dopo un mesetto, eu.org mi ha dato il dominio che ho chiesto.. a breve il sitocto sarà navigabile da #[a(href='https://sitoctt.octt.eu.org') sitoctt.octt.eu.org]! Tecnicamente già raggiungibile, ma devo sistemare dei problemi del generatore, se voglio il dominio attuale non si rompa..

		details
			summary [2022-06-19] Divisione in categorie
			p Alla fine credo di aver realizzato qualcosa come lo volevo. Adesso nella barra di navigazione del sito c'è una sezione "Raccolte", che altro non è che una lista di categorie semiautomatica. 

		details
			summary [2022-06-18] Commenti sul sitoctt
			p È da qualche giorno che sto lavorando quasi ininterrottamente ad un mio sistema di commenti da abilitare per il sito. Non è ancora finito e non so quando lo finirò (e se lo finirò.. speriamo non butto via tutto per la noia).

		details
			summary [2022-06-14] Vorrei un sistema di categorie..
			p ..che non so bene neanche io come lo voglio. A parte la categorizzazione dei post del Blogocto in temi, vorrei che nelle pagine di raccolta per temi uscissero anche pagine che non sono propriamente post, ma ho paura che si crei disordine. Ci penserò su a lungo..

		details
			summary [2022-06-07] Robine Tor
			p Visto che Tor Browser all'impostazione di protezione massima, impostata da molta gente che lo usa, rompe alcune componenti CSS (non c'è JS) del mio sito.. ho aggiornato il generatore per supportare l'aggiunta di una sezione header su tutte le pagine, al momento di build del sito. Lì ho messo info riguardo al problema.

		details
			summary [2022-06-03] Il primo post del Blogocto!
			p L'ho iniziato a scrivere 3 giorni fa, poi tra una cosa e l'altra ho avuto modo di finire solo oggi la scrittura, sia dell'articolo in questione, che del codice del mio generatore che gestisce i post stile-blog (su cui ho ancora sistemazioni da fare). Andate a vederlo #[a(href='./Blog') qui]!

		details
			summary [2022-05-30] Maremma bona sto generatore
			p Sviluppare questo generatore di siti si sta rivelando un'esperienza mistica, in positivo e in negativo. Non so neanche come descrivere il tutto, è assurdo.

		details
			summary [2022-05-29] Il sito su Tor
			p Finalmente, ho messo in piedi anche un mirror #[span(style='Color:#59316b;') Tor] del sitocto! Lo trovate linkato su #[a(href='./index.html#-Disponibilit-del-sito') Home#-Disponibilit-del-sito]. Ora è tutto più sicuro e privato.

		details
			summary [2022-05-27] Prova
			p Questo articolo è solo una prova, forse verrà cancellato.

		details
			summary [2022-05-27] Il PicoBlog inizia!
			p A cosa serve questo post? A farmi vedere l'effetto iniziale ed eventualmente sistemare del CSS..

p
