// Title: <span class="twa twa-envelope"><span>✉️</span></span> PicoBlog
// Order: 2

h1 Il mio PicoBlog

p Stai avventurandoti in una sezione forse effimera del sitocto, ma che comunque, se esiste, vuol dire che ho pensato che ci debba stare lo stesso.

h2 Un po' di contesto

p Seguendo l'idea che ho visto su (pochi) altri siti web personali in giro per la rete, dedico questa zona a pagina singola per tenere un cosidetto picoblog.

p
	| Nella pratica, si tratta di un flusso di pensieri corti e fini a loro stessi: spesso, un intero articolo di picoblog è composto da una sola frase.
	br
	| Per questo fondamentale particolare, differisce non solo dai blog tradizionali, dove un articolo è spesso formato da tanti paragrafi, ma anche dagli oggi più popolari microblog (alla #[span(style='Color:#3088d4;') Mastodon]), dove un articolo è al massimo un paragrafo.

p
	| L'idea mia è quella di creare un flusso aggiornato più o meno spesso di frasi che boh, mi vengono in mente e voglio scrivere.
	br
	| Chissà se navigare questa pagina ti aiuterà a conoscermi meglio, ho paura di no. In verità direi, se del mio normale blog ti fidi 5, di quello che trovi qui devi fidarti -20. Non prendere troppo seriamente ciò che scrivo qui.
	br
	| Tieni a mente che le pubblicazioni più recenti vanno sempre in cima, facendo scendere in basso le precedenti. Inoltre, ogni articolo è collassato di base per questioni di ordine, ti basta cliccare sul titolo per espanderne uno.

h2 Leggi il PicoBlog

details
	summary Espandi la lista dei post
	div
		details
			summary [2022-05-29] Il sito su Tor
			p Finalmente, ho messo in piedi anche un mirror #[span(style='Color:#59316b;') Tor] del sitocto! Lo trovate linkato su #[a(href='./index.html#-Disponibilit-del-sito') Home#-Disponibilit-del-sito]. Ora è tutto più sicuro e privato.
		details
			summary [2022-05-27] Prova
			p Questo articolo è solo una prova, forse verrà cancellato.
		details
			summary [2022-05-27] Il PicoBlog inizia!
			p A cosa serve questo post? A farmi vedere l'effetto iniziale ed eventualmente sistemare del CSS..

p

