<!-- // MenuStyle: Flat -->
<!DOCTYPE HTML>
<html lang="[staticoso:Page:Lang]">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="[staticoso:Site:RelativeRoot]Assets/WriteFreely.css">
	<link rel="stylesheet" href="[staticoso:Site:RelativeRoot]Assets/loli-documentatrice.css">
	<link href="[staticoso:Folder:*:AbsoluteRoot]/sitoctt-assets/Fonts/SpaceMono/Style.css" rel="stylesheet">
	<link rel="alternate" type="application/atom+xml" title="Feed Atom" href="[staticoso:Site:RelativeRoot]feed/atom.xml">
	<link rel="alternate" type="application/rss+xml" title="Feed RSS" href="[staticoso:Site:RelativeRoot]feed/rss.xml">
	<title>[staticoso:Page:Title] - [staticoso:Site:Name]</title>
	<meta name="description" content="[staticoso:Page:Description]">
	<link href="[staticoso:Site:RelativeRoot]favicon.png" rel="icon" type="image/png">
	<meta property="og:type" content="website">
	<meta property="og:title" content="[staticoso:Page:Title] - [staticoso:Site:Name]">
	<meta property="og:description" content="[staticoso:Page:Description]">
	<meta property="og:url" content="https://sitoctt.octt.eu.org/[staticoso:Page:Path]">
	<meta property="og:image" content="[staticoso:Page:Image]">
	<style>
		[staticoso:Page:Style]
	</style>
	[staticoso:ContextPart:*/Head]
	<script src="[staticoso:Site:RelativeRoot]Assets/AVIF-Polyfill/index.js"></script>
</head>
<body id="post">
<header>
	<h1 id="blog-title"><a href="[staticoso:Site:RelativeRoot]index.html" class="h-card p-author">[staticoso:Site:Name]</a></h1>
	<nav>[staticoso:Site:Menu]</nav>
</header>
<article id="post-body" class="sans h-entry "><h2 id="title" class="p-name dated">[staticoso:Page:Title]</h2><div class="e-content">[staticoso:Page:Content]

<hr>
<p><a href="[staticoso:Site:RelativeRoot]index.html">sitoctt</a> di <a href="https://mastodon.uno/@octo">octospacc</a> è concesso sotto licenza <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.it" target="_blank" style="display:inline-block;" rel="noopener">CC BY-SA 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"></a></p>
</div><div id="ContentInfo">[staticoso:Page:ContentInfo]</div></article>
</body>
</html>