<!DOCTYPE html>
<html lang="<staticoso:PageLang>">
<head>
	<staticoso:StaticPart:Standard/GlobalHead.html>
	<link rel="stylesheet" href="<staticoso:SiteRelativeRoot>Assets/sitoctt.css">
	<link href="<staticoso:CustomPath:Assets>/Fonts/SpaceMono/Style.css" rel="stylesheet">
	<style>
		<staticoso:PageStyle>
	</style>
	<staticoso:PageHead>
	<staticoso:DynamicPart:*/Head>
</head>
<body id="Body">
<div id="Header">
	<staticoso:DynamicPart:*/Header>
</div>
<div id="Container">
	<div id="TopBox">
		<staticoso:StaticPart:Standard/TopBox.html>
	</div>
	<div id="MiddleBox">
		<div id="LeftBoxContainer">
			<details>
				<summary><big><b>[<span class="twa twa-books"><span>📚</span></span>]</b></big></summary>
				<div id="LeftBox">
					<staticoso:SiteMenu>
					<hr>
					<div id="LeftBoxBottom" class="Pixelated NoABigger">
						<staticoso:StaticPart:Standard/MiscButtons.Vertical.html>
					</div>
				</div>
			</details>
		</div>
		<div id="RightBoxContainer">
			<details>
				<summary><big><b>[<span class="twa twa-bookmark-tabs"><span>📑</span></span>]</b></big></summary>
				<div id="RightBox">
					<staticoso:PageSections>
				</div>
			</details>
		</div>
		<div id="MainBox">
			<div id="MainBoxTop">
				<staticoso:PageContentInfo>
			</div>
			<staticoso:PageContent>
			<div id="MainBoxBottom">
				<staticoso:Comments>
				<br>
				<staticoso:DynamicPart:*/Footer>
				<br>
				<div id="MainBoxGlobalFooter" class="Pixelated">
					<staticoso:StaticPart:Standard/Footer.html>
				</div>
			</div>
		</div>
	</div>
	<div id="BottomBoxContainer">
		<label id="BottomBoxLabel" for="BottomBoxCheck"><big><b>[<span class="twa twa-label"><span>🏷️</span></span>]</b></big></label>
		<input type="checkbox" id="BottomBoxCheck">
		<div id="BottomBox" class="ToggleBox">
			<staticoso:StaticPart:Standard/BottomBox.html>
		</div>
	</div>
	<!-- <div id="PrivacyPopup"></div> -->
</div>
</body>
</html>
