<!DOCTYPE html>
<html lang="[staticoso:PageLang]">
<head>
	<staticoso:StaticPart:Standard/Head.Global.html>
	<link rel="stylesheet" href="[staticoso:SiteRelativeRoot]Assets/sitoctt.css"/>
	<style>
		<staticoso:PageStyle>
	</style>
	<staticoso:PageHead>
	<staticoso:DynamicPart:*/Head>
</head>
<body id="Body">
<div id="Background"></div>
<div id="Header">
	<staticoso:DynamicPart:*/Header>
</div>
<div id="Container">
	<input type="checkbox" id="DesktopModeCheck" checked="true">
	<label title="Attiva/Disattiva Vista a Colonne" id="DesktopModeLabel" for="DesktopModeCheck"><big><b>[<span class="twa twa-framed-picture twa-🖼️"><span>🖼️</span></span>]</b></big></label>
	<div id="TopBox">
		<staticoso:StaticPart:Standard/TopBox.html>
	</div>
	<div id="MiddleBox">
		<div id="LeftBoxContainer">
			<details>
				<summary title="Menu Globale"><big><b>[<span class="twa twa-books twa-📚"><span>📚</span></span>]</b></big></summary>
				<div id="LeftBox">
					<staticoso:SiteMenu>
					<hr>
					<div id="LeftBoxBottom" class="Pixelated NoABigger">
						<staticoso:StaticPart:Standard/MiscButtons.Vertical.html>
					</div>
				</div>
			</details>
		</div>
		<div id="RightBoxContainer">
			<details>
				<summary title="Sezioni della Pagina"><big><b>[<span class="twa twa-bookmark-tabs twa-📑"><span>📑</span></span>]</b></big></summary>
				<div id="RightBox">
					<staticoso:PageSections>
				</div>
			</details>
		</div>
		<div id="MainBox">
			<div id="MainBoxTop">
				<staticoso:PageContentInfo>
			</div>
			<div id="PageContent">
				<staticoso:PageContent>
			</div>
			<div id="MainBoxBottom">
				<staticoso:Comments/>
				<br>
				<staticoso:DynamicPart:*/Footer>
				<br>
				<div id="MainBoxGlobalFooter" class="Pixelated">
					<staticoso:StaticPart:Standard/Footer.html>
				</div>
			</div>
		</div>
	</div>
	<div id="BottomBoxContainer">
		<label title="Apri/Chiudi Nastro Inferiore" id="BottomBoxLabel" for="BottomBoxCheck"><big><b>[<span class="twa twa-label twa-🏷️"><span>🏷️</span></span>]</b></big></label>
		<input type="checkbox" id="BottomBoxCheck" class="ToggleBoxCheck">
		<div id="BottomBox" class="ToggleBox">
			<staticoso:StaticPart:Standard/BottomBox.html>
		</div>
	</div>
	<!-- <div id="PrivacyPopup"></div> -->
</div>
<staticoso:DynamicPart:*/Foot>
<script>
// Issue on Firefox 69 / Chromium: Getting background CSS property doesn't work, maybe background: url('') is invalid for <meta>? Maybe use content: ''?
var RawDataCss = JSON.parse(window.getComputedStyle(document.getElementById('RawDataCssInject')).background.split('url("')[1].split('")').slice(0, -1).join('")').replaceAll('\\\"', '\"'));

var MediaQuery = window.matchMedia(`(min-width: ${RawDataCss.DeskModeMinWid})`);
var SectionMenu = document.querySelector('#RightBoxContainer > Details');
var SectionButton = SectionMenu.querySelector('Summary');

var NormalOpen = SectionMenu.open;
SectionButton.onclick = function() {
	if (!MediaQuery.matches) {
		// For some reason without the ! it sets the opposite of what's really happening???
		// Maybe the onclick event fires before the details element is actually opened by the click?
		NormalOpen = !SectionMenu.open;
	};
};

function MediaQueryCheck(Query) {
	if (MediaQuery.matches) SectionMenu.open = true; // Go in desktop mode
	else SectionMenu.open = NormalOpen; // Going in normal mode
	// we must when handle user manually disable desktop mode if we want hide the button
	//SectionButton.style.display = {true: "none", false: ""}[Query.matches];
};
MediaQuery.addListener(MediaQueryCheck);
MediaQueryCheck(MediaQuery);

// Note: onclick doesn't work and doesn't show any error, wtf? But calling ShowHidePageBg manually works
/*
function ShowHidePageBg() {
	var Style = Body.style;
	if (Style.visibility || Style.overflow || Body.onclick) {
		Style.visibility = '';
		Style.overflow = '';
		Body.onclick = null;
	} else {
		Style.visibility = 'hidden';
		Style.overflow = 'hidden';	
		Body.onclick = ShowHidePageBg;
	};
};

var PageBgEl = document.getElementById('fn:PageBg');
if (PageBgEl) {
	var PageBgPar = PageBgEl.querySelector('p');
	var PageBgTokens = PageBgPar.innerHTML.split('</a>');
	PageBgPar.innerHTML = PageBgTokens[0] + '</a>&nbsp;<button onclick="ShowHidePageBg()">Guarda</button>' + PageBgTokens.slice(1, -1);
};
*/
</script>
<link rel="stylesheet" href="[staticoso:CustomPath:Assets]/Fonts/SpaceMono/Style.css"/>
</body>
</html>
