<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="[HTML:Site:RelativeRoot]Standard.css">
	<link href="[HTML:Folder:*:AbsoluteRoot]/sitoctt-assets/Fonts/SpaceMono/Style.css" rel="stylesheet">
	<link href="[HTML:Folder:*:AbsoluteRoot]/sitoctt-assets/twemoji-amazing.min.css" rel="stylesheet">
	<title>[HTML:Page:Title] - sitoctt</title>
	<meta name="description" content="[HTML:Page:Description]">
	<meta property="og:type" content="website">
	<meta property="og:title" content="[HTML:Page:Title] - sitoctt">
	<meta property="og:description" content="[HTML:Page:Description]">
	<meta property="og:url" content="https://octtspacc.gitlab.io/sitoctt/[HTML:Page:Path]">
	<meta property="og:image" content="[HTML:Folder:*:AbsoluteRoot]/sitoctt-assets/RichPreview/index.png">
	<style>
		[HTML:Page:Style]
	</style>
</head>
<body id="Body">
<div id="Header">
	[HTML:ContextPart:*/Header]
</div>
<div id="Container">
	<div id="TopBox">
		[HTML:Part:Standard/TopBox.html]
	</div>
	<div id="MiddleBox">
		<div id="LeftBoxContainer">
			<label id="LeftBoxLabel" for="LeftBoxCheck"><big><b>[<span class="twa twa-books"><span>📚</span></span>]</b></big></label>
			<input type="checkbox" id="LeftBoxCheck" checked>
			<br>
			<div id="LeftBox" class="ToggleBox">
				[HTML:Part:Standard/LeftBoxTop.html]
				[HTML:Page:LeftBox]
				[HTML:Part:Standard/LeftBoxBottom.html]
			</div>
		</div>
		<div id="RightBoxContainer">
			<label id="RightBoxLabel" for="RightBoxCheck"><big><b>[<span class="twa twa-bookmark-tabs"><span>📑</span></span>]</b></big></label>
			<input type="checkbox" id="RightBoxCheck" checked>
			<br>
			<div id="RightBox" class="ToggleBox">
				[HTML:Page:RightBox]
			</div>
		</div>
		<div id="MainBox">
			<div id="MainBoxTop">
				[HTML:Page:ContentHeader]
			</div>
			[HTML:Page:Content]
			<div id="MainBoxBottom">
				<br>
				[HTML:ContextPart:*/Footer]
			</div>
		</div>
	</div>
	<div id="BottomBoxContainer">
		<label id="BottomBoxLabel" for="BottomBoxCheck"><big><b>[<span class="twa twa-label"><span>🏷️</span></span>]</b></big></label>
		<input type="checkbox" id="BottomBoxCheck">
		<div id="BottomBox" class="ToggleBox">
			[HTML:Part:Standard/BottomBox.html]
		</div>
	</div>
</div>
</body>
</html>
