<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="[HTML:Page:CSS]">
	<link href="/sitoctt-assets/Fonts/SpaceMono/Font.css" rel="stylesheet">
	<title>[HTML:Page:Title] - postoctt</title>
	<style>
		[HTML:Page:Style]
	</style>
</head>
<body>
<div id="Container">
	<div id="TopBox">
		[HTML:Part:Standard/TopBox.html]
	</div>
	<div id="MiddleBox">
		<div id="LeftBoxContainer">
			<label id="LeftBoxLabel" for="LeftBoxCheck"><b>[🗃️]</b></label>
			<input type="checkbox" id="LeftBoxCheck" checked>
			<br>
			<div id="LeftBox" class="ToggleBox">
				[HTML:Part:Standard/LeftBox.html]
			</div>
		</div>
		<div id="RightBoxContainer">
			<label id="RightBoxLabel" for="RightBoxCheck"><b>[🔖️]</b></label>
			<input type="checkbox" id="RightBoxCheck" checked>
			<br>
			<div id="RightBox" class="ToggleBox">
				[HTML:Page:RightBox]
			</div>
		</div>
		<div id="MainBox">
			[HTML:Page:MainBox]
		</div>
	</div>
	<div id="BottomBox">
		[HTML:Part:Standard/BottomBox.html]
	</div>
</div>
</body>
</html>	
