<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="[HTML:Page:CSS]">
	<script src="/App.js"></script>
	<title>[HTML:Page:Title] - postoctt</title>
	<style>
		[HTML:Page:Style]
	</style>
</head>
<body>
<div id="Container">
	<div id="TopBox">
		[HTML:Part:Standard/TopBox.html]
	</div>
	<div id="MiddleBox">
		<div id="LeftBox">
			[HTML:Part:Standard/LeftBox.html]
		</div>
		<div id="RightBox">
			[HTML:Page:RightBox]
		</div>
		<div id="MainBox">
			[HTML:Page:MainBox]
		</div>
	</div>
	<div id="BottomBox">
		[HTML:Part:Standard/BottomBox.html]
	</div>
</div>
</body>
</html>	
