<!DOCTYPE html>
<html lang="<staticoso:PageLang>">
<head>
	<staticoso:StaticPart:Standard/GlobalHead.html>
	<link rel="stylesheet" href="<staticoso:SiteRelativeRoot>Assets/WM.css">
	<link href="<staticoso:CustomPath:Assets>/Fonts/SpaceMono/Style.css" rel="stylesheet">
	<style>
		<staticoso:PageStyle>
		Body {
			Background: url(<staticoso:CustomPath:Assets>/Media/Backgrounds/Circles-Purple.png), #5C00CA;
			Background-Repeat: Repeat;
		}
	</style>
	<staticoso:PageHead>
	<staticoso:DynamicPart:*/Head>
</head>
<body id="Body">
<div class="TaskBar">
	<details>
		<summary><span class="MenuButton"><big><b>[<span class="twa twa-books twa-📚"><span>📚</span></span>]Menu</b></big></span><br><br></summary>
		<div class="TaskBarMenu">
			<staticoso:SiteMenu>
		</div>
	</details>
	<span class="TaskBarRight">&nbsp;<h4 title="Home Page" class="Inline"><a href="<staticoso:SiteRelativeRoot>index.html"><span class="twa twa-sparkles twa-✨">✨</span>sitoctt2022<span class="twa twa-sparkles twa-✨">✨</span></a></h4>&nbsp;</span>
</div>

<input title="Mostra Desktop" type="checkbox" class="CheckToggle" id="DesktopCheck">
<label title="Mostra Desktop" for="DesktopCheck"><span class="twa twa-🪬"><span>🪬</span></span></label>

<div class="Window" id="FeedWindow">
	<div class="TitleBar">
		<input type="checkbox" class="CheckToggle" id="FeedWindowCheck">
		<div class="TitleBarContent">
			<span> <label class="CheckLabel" for="FeedWindowCheck"></label> </span> &nbsp;&nbsp; <span> <b>Ultimi Post</b> </span> &nbsp;&nbsp; <span> <span class="twa twa-📣"><span>📣</span></span> </span>
		</div>
		<div class="WindowContent ToggleBox">
			<staticoso:Feed>
		</div>
	</div>
</div>

<!--<div class="DragContainer">
	<div class="DragBox"></div>--->
<div class="Window" id="MainWindow">
	<div class="TitleBar">
		<input type="checkbox" class="CheckToggle" id="MainWindowCheck">
		<div class="TitleBarContent">
			<span> <label class="CheckLabel" for="MainWindowCheck"></label> </span> &nbsp;&nbsp; <span> <b><staticoso:PageTitle></b> </span> &nbsp;&nbsp; <span> <span class="twa twa-pencil twa-✏️"><span>✏️</span></span> </span>
		</div>
		<div id="PageContent" class="WindowContent ToggleBox">
			<staticoso:PageContent>
		</div>
	</div>
<!--</div>--->
</div>

<div class="Window" id="TitlesWindow">
	<div class="TitleBar">
		<input type="checkbox" class="CheckToggle" id="TitlesWindowCheck">
		<div class="TitleBarContent">
			<span> <label class="CheckLabel" for="TitlesWindowCheck"></label> </span> &nbsp;&nbsp; <span> <b>Sezioni</b> </span> &nbsp;&nbsp; <span> <span class="twa twa-bookmark-tabs twa-📑"><span>📑</span></span> </span>
		</div>
		<div class="WindowContent ToggleBox">
			<staticoso:PageSections>
		</div>
	</div>
</div>

<div id="Desktop">
	<div class="Absolute-↙" id="DesktopButtons">
		<staticoso:StaticPart:Standard/MiscButtons.Vertical.html>
		<br>
		<staticoso:StaticPart:Buttons/Feed-88x31.html>
		<span> </span>
		<staticoso:StaticPart:Buttons/CreativeCommons-88x31.html>
	</div>
</div>

<staticoso:DynamicPart:WM/Other>
</div>
<staticoso:DynamicPart:*/Foot>
</body>
</html>
