<!DOCTYPE html>
<html lang="[staticoso:Page:Lang]">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" href="[staticoso:Site:RelativeRoot]Assets/WM.css"> -->
	<link rel="stylesheet" href="../Assets/Assets/WM.css">
	<link href="[staticoso:Folder:*:AbsoluteRoot]/sitoctt-assets/Fonts/SpaceMono/Style.css" rel="stylesheet">
	<link rel="alternate" type="application/atom+xml" title="Feed Atom" href="[staticoso:Site:RelativeRoot]feed/atom.xml">
	<link rel="alternate" type="application/rss+xml" title="Feed RSS" href="[staticoso:Site:RelativeRoot]feed/rss.xml">
	<title>[staticoso:Page:Title] - [staticoso:Site:Name]</title>
	<meta name="description" content="[staticoso:Page:Description]">
	<link href="[staticoso:Site:RelativeRoot]favicon.png" rel="icon" type="image/png">
	<meta property="og:type" content="website">
	<meta property="og:title" content="[staticoso:Page:Title] - [staticoso:Site:Name]">
	<meta property="og:description" content="[staticoso:Page:Description]">
	<meta property="og:url" content="https://sitoctt.octt.eu.org/[staticoso:Page:Path]">
	<meta property="og:image" content="[staticoso:Page:Image]">
	<style>
		[staticoso:Page:Style]
	</style>
	<!-- [staticoso:DynamicPart:*/Head] -->
	<script src="[staticoso:Site:RelativeRoot]Assets/AVIF-Polyfill/index.js"></script>
</head>
<!-- TitleBar: <span> - ❌ </span> <span> [staticoso:Page:Title] </span> <span> 🔺 🔼 ⬜ 🔷 </span> -->
<body id="Body">
<div class="TaskBar">
	<details>
		<summary><span class="MenuButton"><big><b>[<span class="twa twa-books"><span>📚</span></span>] Menu</b></big></span><br><br></summary>
		<div>
			[staticoso:Site:Menu]
		</div>
	</details>
</div>
<div class="Window" id="MainWindow">
	<div class="TitleBar">
		<input type="checkbox" id="MainWindowCheck">
		<span> <label class="CheckLabel" id="MainWindowCheckLabel" for="MainWindowCheck"></label> </span> &nbsp; <span> <b>[staticoso:Page:Title]</b> </span> &nbsp; <span> <span class="twa twa-pencil"><span>✏️</span></span> </span>
		<div class="WindowContent ToggleBox" id="MainWindowContent">
			[staticoso:Page:Content]
		</div>
	</div>
<!--
	<div class="WindowContent ToggleBox" id="MainWindowContent">
		[staticoso:Page:Content]
	</div>
-->
</div>
<div class="Window" id="TitlesWindow">
	<div class="TitleBar">
		<span> 🔼 </span> &nbsp; <span> <b>Sezioni</b> </span> &nbsp; <span> <span class="twa twa-bookmark-tabs"><span>📑</span></span> </span>
	</div>
	<div class="WindowContent" id="MainWindowContent">
		[staticoso:Page:Chapters]
	</div>
</div>
</div>
</body>
</html>
