{{- $languageName := "[???]" -}}
{{- $languageCode := (.Get 0) -}}
{{- range .Site.Languages -}}
  {{- if eq $languageCode (string .) -}}
    {{- $languageName = .LanguageName -}}
  {{- end -}}
{{- end -}}
{{- $noticeText := "" -}}
{{- with dict "languageName" $languageName -}}
  {{- $noticeText = (i18n "noticeAutomaticTranslation" .) -}}
{{- end -}}
{{- with dict "Params" "" "noticeType" "caution" "Inner" $noticeText -}}
  {{- partial "notice" . -}}
  <style> .notranslate[data-lang="{{ $languageCode }}"] { display: none; } </style>
{{- end -}}
